    <div  class="footer navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Proudly Coded by <a href="https://djpawson.me">Darrell Pawson</a></p>
          </div>
        </div>
      </div>
    </div>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js'></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js'></script>
  	<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  	<script src="/js/script.js"></script>
	</body>
</html>