<% include ./partials/header %>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">About Me</h2>
        <hr class="style-two">
      </div>
    </div>
    <div id="about" class="row">
      <div class="col-md-9">
        <p class="lead">
          <span id="hello"></span> my name is Darrell Pawson and I am from Asheboro NC. I have been building websites as a hobby for quite some time now. Not too long ago, I joined
          <span class="nowrap"><a href="https://www.udemy.com/" target="_blank"> Udemy</a></span> and took a course called The Web Developer Bootcamp and I fell in love with Node.js. In fact this portfolio is built using Node.js, Express and ejs.  
        </p>
        <p class="lead">
          Now, I am not perfect at this nor am I an expert.  I am still a beginner but I am learning and I am loving this.  I am determined to learn as much as I can and get a job in this field
          so that I can do what I am enjoying on my free time. 
          
          <p class="lead">
            Follow me on my <a href="https://blog.djpawson.me" target="_blank">Blog</a> where I post about what I am working on and well, everything else really.
          </p>
        </p>
      </div>
      <div class="col-md-3">
        <img class="img-responsive img-circle center-block" src="https://image.ibb.co/jgODzb/profile_pic.jpg" alt="Darrell Pawson">
      </div>
    </div>

<% include ./partials/footer %>